@charset "UTF-8";
/* CSS Document */
*/
/* CSS Reset */
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
ol, ul {
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/*WORK*/
p{
  font-family: times, serif;


}


/*links*/

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: black;
}
adding-top: 10px;
}