
/*WORK*/

body{
  margin: 15px;
}
p{
    font-family: Times New Roman, Times, serif;
    font-weight: normal;
    font-size: 1.0rem;
    line-height: 1.15;
    letter-spacing: -0.01rem;
}


/*links*/

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: black;
}
adding-top: 10px;
}