
/* CSS Document */
*/
/* CSS Reset */
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-color: white;
}
ol, ul {
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

body{
	    overflow-y: scroll;
}
 

/*header and menu*/


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  font-family: arial;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
    height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 50%;
  font-weight:800;
}

#myBtn:hover {
  background-color: black;
   color: white;
}


element:hover, element:active {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none;
-webkit-touch-callout: none /*only to disable context menu on long press*/
}

#menu{
	text-align: left;
	margin: 0 auto;
	width: 100%;
}


#wrapper{
	width: 100%;
	margin: 0 auto;	
	position: relative;
}


.leadtext{
	width: 100%;
	z-index: 100;	
}


.projectdescription{
	font-size: 24px;
	font-weight: 700;
	font-family: arial;
	line-height: 1.2;
	padding-bottom: 10px;
	letter-spacing: -0.2px;
	margin-left: 0.4em;
	margin-right: 0.4em;
	margin-top: 0.2em;
	-webkit-font-smoothing: antialiased;
}



/*home*/

#content{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	position: relative;
	flex-wrap: wrap;
	display: flex;
}

.projects{
	margin: 0.3em;
}


.item {
	height:auto;
 	float: left;
 	display: inline-block;
    margin: 0.3em;
    position: relative;
    height: auto;
    width: auto;
}


.image{
	height:18em;
	width: auto;
	 background: lightgrey;
	 display: block;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.0s ease;
  background-color: black;
  color: white;
  height: auto;
}

.item:hover .overlay {
  opacity: 1;
}

.heading1 {
	font-size: 14px;
	font-weight: 700;
	font-family: arial;
	line-height: 1.27;
	letter-spacing: -0.1px;
  padding: 9px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}


#footer{
   color: black;
   font-weight: 800;
   width:100%;
   background:;
	font-family: arial;
	font-size: 14px;
	padding: 0.3em;
}


/*links*/
a:link, a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

a:hover{
	color:black;
	text-decoration: none;
	cursor: alias;
	border-bottom: none;
}

a.whitelink:link{
	color: white;
	 border-bottom: 1px solid white;
}

a.whitelink:visited{
	color: white;
	 border-bottom: 1px solid white;
}

a.whitelink:hover{
	color: white;
	 border-bottom: none;
}

a.current:link, a.current:visited {
  color: black;
}

.active{
	text-decoration: none;
	color:black;
}

.unactive{
	text-decoration: none;
	color:grey;
}

body#malka{
	background-image:;
}




/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 736px) {

  .projectdescription{
  	font-size: 18px;
  }
  .item .image{
  	width: 100%;
    height: auto;
  }
  .heading1{
  	font-size: 14px;
  }
}



@media screen and (min-width: 1800px) {
.image{
	height:18em;
}
}

