
/*WORK*/
p{
  font-family: times, serif;


}


/*links*/

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: black;
}
adding-top: 10px;
}